<template name="download">
    <div align="center" class="container userInfo">
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="well">
                    <h1 class="{{titleColor}}">Download {{this.type}}</h1>
                    <b></b>
                    <hr>
                    <p><b>Title: </b>{{this.title}}</p>
                    <p><b>File size: </b>{{this.sizeMb}} Mb</p>
                    <p><b>Price: </b> {{this.price}} <i class="fa fa-eur"></i></p>
                    <p><b>Convert to: </b>{{this.convertTo}}</p>
                    <button id="pay" class="btn btn-raised btn-{{color}}" >Pay and download</button>
                </div>
            </div>
        </div>
    </div>
</template>