/* title */
.navbar-default .navbar-brand {
    color: #555;;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #555;;
}

.brand_img{
    height: 35px;
    width: 35px;
}

.navbar-default .navbar-logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

#threeDots{
    padding-left: 20px;
    padding-right: 20px;
}

.mobile-li{
    padding-top: 15px;
    padding-bottom: 15px;
}

.opener-left-menu {
    float: left;
    padding: 20px;
    padding-top: 35px;
    background-color: #ffffff;
    padding-bottom: 11px;
    color: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff, 4px 0 15px -4px rgba(0, 0, 0, 0.16), -4px 0 15px -4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff, 4px 0 15px -4px rgba(0, 0, 0, 0.16), -4px 0 15px -4px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0px 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff, 4px 0 15px -4px rgba(0, 0, 0, 0.16), -4px 0 15px -4px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0px 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff, 4px 0 15px -4px rgba(0, 0, 0, 0.16), -4px 0 15px -4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff, 4px 0 15px -4px rgba(0, 0, 0, 0.16), -4px 0 15px -4px rgba(0, 0, 0, 0.12);
}

.opener-left-menu:hover {
    color: white;
}


.opener-left-menu.is-open {
    padding-top: 20px;
}

.opener-left-menu.is-closed:hover .bottom {
    bottom: 10px;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.opener-left-menu.is-closed .bottom {
    top: 32px;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.opener-left-menu.is-closed .top, .opener-left-menu.is-closed .middle, .opener-left-menu.is-closed .bottom, .opener-left-menu.is-open .top, .opener-left-menu.is-open .middle, .opener-left-menu.is-open .bottom {
    position: absolute;
    height: 4px;
    width: 30px;
}



.avatar-dropdown{
    margin-top: 5px;
}


.navbar, .navbar.navbar-default {
    background-color: #00C5BC;
    color: rgba(255,255,255, 0.84);
    padding-bottom: 5px;
}

.navbar.navbar, .navbar-default.navbar{
    background-color: #ffffff;
    border-color: #ffffff;
}

.label.label-info {
    background-color: #00C5BC;
}

/* title */
.navbar-default .navbar-brand {
    color: #555;;
    font-size: 24px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #555;;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #00C5BC;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #00C5BC;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 1199px) {

    .navbar, .navbar.navbar-default {
        background-color: #ffffff;
        color: rgba(255,255,255, 0.84);
        padding-bottom: 12px;
    }


}

@media (max-width: 768px) {

    .navbar, .navbar.navbar-default {
        background-color: #ffffff;
        color: rgba(255,255,255, 0.84);
        padding-bottom: 12px;
    }

    #at-nav-button.btn-default:not(.btn-link):not(.btn-flat) {
        width: 100%;
        /*border: solid 1px rgba(255,255,255, 0.84);*/
        border: solid 1px #00C5BC;
    }





    #smallNavBarUl > li > ul {
        color: #0F0F0F;
        background-color: white;
    }

    #smallNavBarUl > li > a {
       padding-top: 22px;
        padding-right: 10px;
    }

    .navbar-nav {
    margin: 0;
    }
    .navbar-nav>li {
        color: #00C5BC;
        float: none;
        display: inline-block;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav>li.open>ul.dropdown-menu {
        position: absolute;
        border: 1px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }











}

#sign-out #at-nav-button.btn-default:not(.btn-link):not(.btn-flat) {
    /*padding: 0px;*/
    width: 100%;
}

input#search.form-control{
    color: #777777;
}

.user-full-name {
    text-transform: capitalize;
}

.navbar .dropdown.profile .dropdown-menu {
    width: 295px;
    padding-bottom: 0;
    text-align: center;
    color: #0F0F0F;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img {
    padding: 0;
    max-height: 280px;
    overflow: hidden;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
}

.navbar .dropdown.profile .dropdown-menu .profile-info {
    padding: 15px;
}

#sign-up.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #00C5BC;
    color: #ffffff;
    border-color: #00C5BC;
    padding-top: 8px;
    padding-bottom: 8px;
}

#sign-up-host.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #ffffff;
    color: #00C5BC;
    border: solid 1px #00C5BC;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}


#at-nav-button.btn-default:not(.btn-link):not(.btn-flat) {
    background-color: #ffffff;
    color: #00C5BC;
}

.avatar {
    height: 40px;
    width: 40px;
    border: 4px solid #ecf0f1 !important;
    margin-top: 5px;
}

.user-nav .user-balance{
    padding: 21px 10px 0 10px !important;
    font-size: 14px;
    color: white;
}

.navbar .search {
    padding-top: 15px;
    padding-left: 10px;
    color: #ecf0f1;
}

.navbar .search .form-animate-text{
    float: right;
    margin-top: -10px;
    margin-left: 5px;
    width: 200px;
}

.navbar-header .search .form-animate-text .form-text:focus ~ .label-search,.form-text:valid ~ .label-search {
    top: -50px !important;
    font-size: 14px;
    color: #ecf0f1 !important;
}

.navbar .search .form-animate-text .form-text{
    border:none !important;
}

.navbar .search .form-animate-text .bar:before,.navbar .search .form-animate-text
.bar:after {
    height: 1px;
    background: #ecf0f1 !important;
}

.navbar .search .form-animate-text label{
    color:#ecf0f1;
    font-size: 15px !important;
}

.dropdown a{
    font-size: 16px !important;
}
.dropdown.open a{
    background:none !important;
}
.navbar-header .dropdown-menu a{
    color: #716767 !important;
    font-size: 14px !important;
}

.dropdown a {
    font-size: 1em;
}

.navbar .dropdown-menu li > a, .navbar.navbar-default .dropdown-menu li > a {
     font-size: 16px;
     padding: 0 16px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color: #00C5BC;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#sign-up{
    background-color: #00C5BC;
    border-top:2px solid #ddd;
}

.user-dropdown > b{
    color: #0F0F0F;
}

.nav_img{
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.navbar-brand-small{
    margin-top: 8px;
    font-size: 4px;
}
