<template name = "navbar">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="{{pathFor 'uploadFile'}}" class="navbar-brand nav-item navbar-logo">
                    <img  class="media-object update-card-MDimentions brand_img" src="/img/logo.png" alt="">
                </a>
                <a href="{{pathFor 'uploadFile'}}" class="navbar-brand">
                    <b>Transcode</b>
                </a>
            </div>


            <div class="navbar-collapse collapse navbar-responsive-collapse">

                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{pathFor "uploadFile"}}">
                            <b><i class="fa fa-cloud-upload" aria-hidden="true"></i> Uploads</b>
                        </a>
                    </li>
                    {{#if currentUser}}
                        <li>
                            <a id="expand" href="#">
                                <b><i class="fa fa-arrows-alt" aria-hidden="true"></i> Expand storage</b>
                            </a>
                        </li>
                    {{/if}}
                </ul>


                <ul class="nav navbar-nav navbar-right user-nav">
                    {{#if currentUser}}
                        <li>
                            <a  id="sign-up" class="btn btn-primary logout">Sign Out</a>
                        </li>
                    {{/if}}
                    {{#unless currentUser}}
                        <li>
                            {{> atNavButton}}
                        </li>
                        <li>
                            <a href="/sign-up" id="sign-up" class="btn btn-primary">Sign Up</a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </nav>
</template>
