<head>
    <title>Transcode</title>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1">
</head>

<template name="layout">
    {{> navbar}}
    <div class="box">
        <div id="main">
            <div>
                {{> yield}}
            </div>
        </div>
    </div>
</template>
