<template name="uploadFile">
    <div class="container">
        <h1 align="center">Uploads</h1>
        {{> uploadButton}}
        <br>
        <div align="center" class="row">
            <div class="col-md-6">
                <input id="title" type="text" class="form-control" placeholder="File title">
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="uploadUrl" type="text" class="form-control" placeholder="https://site.com/video.mov">
                      <span class="input-group-btn">
                        <button id="uploadUrl" class="btn btn-secondary btn-info btn-raised" type="button">Upload!</button>
                      </span>
                </div>
            </div>
        </div>
    {{#unless noUploads}}
        <h2 align="center">Storage used: {{storageUsed}} / {{currentUser.profile.uploadLimit}}GB</h2>
    {{/unless}}
        <br>
        <hr>
        {{#if noUploads}}
            <h2 align="center">No files uploaded</h2>
        {{/if}}
        <div class="row">
            {{#each uploads}}
                {{> uploadItem}}
            {{/each}}
        </div>
    </div>
</template>