body{
    margin-top: 65px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    background-color:#f0f3f4;
    line-height: 1.42857143 !important;
    color: #58666e !important;
}

@media(max-width:1199px){
    body {
        margin-top: 60px;
    }
}

a,
a:hover,
a:focus{
    color: #00C5BC;
}

.form-group label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    color: #00C5BC !important;
    font-weight: 400;
    margin: 16px 0 0 0;
}

label {
    font-size: 16px;
    line-height: 1.07142857;
    color: #00C5BC !important;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #00C5BC;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00C5BC), to(#00C5BC)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
    background-image: -webkit-linear-gradient(#00C5BC, #00C5BC), -webkit-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: -o-linear-gradient(#00C5BC, #00C5BC), -o-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: linear-gradient(#00C5BC, #00C5BC), linear-gradient(#D2D2D2, #D2D2D2) !important;
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}


li > a.tab-selected, .nav-tabs > li > a.tab-selected:hover, .nav-tabs > li > a.tab-selected{
    color: #00C5BC !important;
    border-bottom: solid 2px #00C5BC !important;
    padding-right: 15px;
}

.alert-info{
    background-color: #00C5BC !important;
}

b.center{
    text-align: center;
}