<template name="uploadItem">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-{{color}}">
            <div align="center" class="panel-heading">
                <h2 class="panel-title">
                    {{#if this.paid}}
                        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    {{/if}}
                    {{this.type}}
                </h2>
            </div>
            <div align="center" class="panel-body">
                <h3>{{this.title}}</h3>
                <hr>
                <p><b>File size: </b>{{fileSize}}</p>
                <p><b>Price: </b>{{this.price}} <i class="fa fa-eur"></i></p>
                {{#if convertType}}
                    {{#if video}}
                        <select class="form-control" id="selectorVideo">
                            <option id="avi">avi</option>
                            <option id="mkv">mkv</option>
                            <option id="mov">mov</option>
                        </select>
                    {{else}}
                        <select class="form-control" id="selectorAudio">
                            <option id="ogg">ogg</option>
                            <option id="wav">wav</option>
                            <option id="wma">wma</option>
                        </select>
                    {{/if}}
                {{else}}
                    <p class="convertTo"><b>Convert to: </b>{{this.convertTo}}</p>
                {{/if}}
                {{#if this.paid}}
                    <a href="/.converted/{{this.type}}/{{this.convertedFileName}}" target="_blank" class="btn btn-{{color}} convert" download>
                        <i class="fa fa-cloud-download" aria-hidden="true"></i> Download
                    </a>
                {{else}}
                    <a href="{{pathFor 'download'}}" class="btn btn-{{color}} update">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i> Download
                    </a>
                {{/if}}

                <a href="" class="btn btn-danger delete">
                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                </a>
            </div>
        </div>
    </div>
</template>