<template name="uploadButton">
    <div align="center">
        <button id="uploadBtn" type="button" class="btn btn-raised btn-default" data-toggle="modal" data-target="#fileUpload">
            <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
        </button>
    </div>
    <div id="fileUpload" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div align="center" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Upload file</h2>
                </div>
                <div class="modal-body">
                    {{> upload_bootstrap formData=specificFormData}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</template>